doctype html
<html lang='ru'>
head
	meta(charset="utf-8")
	meta(name="viewport",content="width=device-width")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
	link(href='http://fonts.googleapis.com/css?family=Oranienbaum|Open+Sans:400,600|Open+Sans+Condensed:300,700&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')

	link(href="/layout/css/frontend.css", rel="stylesheet")
	title Кремлевская школа верховой езды


