#nav.vignettes
	.before
		include ../../../public_html/layout/images/svg/vensel-1-tl.svg
		include ../../../public_html/layout/images/svg/vensel-1-tr.svg
		include ../../../public_html/layout/images/svg/vensel-1-bl.svg
		include ../../../public_html/layout/images/svg/vensel-1-br.svg
	.after
	.content
		p.center
			a(href="/").logo
				include ../../../public_html/layout/images/svg/logo.svg
			br
			span.vensel
				include ../../../public_html/layout/images/svg/vensel-3.svg

		ul
			li
				a О Школе
			li
				a Обучение верховой езде
			li
				a Услуги частным коневладельцам
			li
				a Детская группа коного церемониала
			li
				a Совместная команда по джигитовке
			li
				a Заказ мероприятий в Школе
			li
				a Как помочь Школе
			li
				a Контакты

		.footer
			p.center
				span.vensel
					include ../../../public_html/layout/images/svg/vensel-3.svg
			.address
				| Московская область, <br>Красногорский район, <br>Путилковское шоссе, строение 4
			.social
				a.gp
					include ../../../public_html/layout/images/svg/gp.svg
				a.vk
					include ../../../public_html/layout/images/svg/vk.svg
				a.ok
					include ../../../public_html/layout/images/svg/ok.svg
				a
					include ../../../public_html/layout/images/svg/facebook.svg
				a.tw
					include ../../../public_html/layout/images/svg/twitter.svg
				a
					include ../../../public_html/layout/images/svg/youtube.svg
				a.mr
					include ../../../public_html/layout/images/svg/mailru.svg
			.copyright
				p
					| © 2014 Кремлевская школа верховой езды
				p
					| Конный клуб и детская конно спортивная школа в Москве. Обучение верховой езде в Москве.
			p.center
				a.radia(href="http://radia.ru", target="_blank")
					include ../../../public_html/layout/images/svg/radia.svg
					span создание сайта <br>radia interactive
