include includes/header
<body>
include includes/nav

#content
	#contacts
		span 
			| Тел./факс: <a href="tel:84956170444">+7 (495) 617-04-44</a>
			a.call(data-toggle="modal", data-target="#Call") перезвоните мне
			| E-mail: <a href="mailto:info@kremlin-ksk.ru">info@kremlin-ksk.ru</a>
		a.search(href="#")
			include ../../public_html/layout/images/svg/search.svg
		#search
			input(type="text")
	.text.vignettes.list
		.before
			include ../../public_html/layout/images/svg/vensel-1-tl.svg
			include ../../public_html/layout/images/svg/vensel-1-tr.svg
			include ../../public_html/layout/images/svg/vensel-1-bl.svg
			include ../../public_html/layout/images/svg/vensel-1-br.svg
		.after
		
		.content.no-bottom-padding.small-top-padding
			h1.center Новости

		.second-nav
			.frame
				.shadow-top
				.shadow-bottom
				a(href="#").active Новости
				a(href="#") История
				a(href="#") Отзывы
				a(href="#") Отчет о деятельности
				a(href="#") Стратегические партнеры
		.third-nav
			include ../../public_html/layout/images/svg/vensel-6.svg
			a(href="#").active 2014
			a(href="#") 2013
			a(href="#") 2012
			a(href="#") 2011
			a(href="#") 2010
			a(href="#") 2009
			include ../../public_html/layout/images/svg/vensel-7.svg
		.news
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
		.pages
			a(href="#").active 1
			a(href="#") 2
			a(href="#") 3
			a(href="#") 4

include includes/footer