include includes/header
<body>
include includes/nav

#content
	#contacts
		span 
			| Тел./факс: <a href="tel:84956170444">+7 (495) 617-04-44</a>
			a.call(data-toggle="modal", data-target="#Call") перезвоните мне
			| E-mail: <a href="mailto:info@kremlin-ksk.ru">info@kremlin-ksk.ru</a>
		a.search(href="#")
			include ../../public_html/layout/images/svg/search.svg
		#search
			input(type="text")
	.text.vignettes.list
		.before
			include ../../public_html/layout/images/svg/vensel-1-tl.svg
			include ../../public_html/layout/images/svg/vensel-1-tr.svg
			include ../../public_html/layout/images/svg/vensel-1-bl.svg
			include ../../public_html/layout/images/svg/vensel-1-br.svg
		.after
		
		.content.no-bottom-padding.small-top-padding
			h1.center Новости

		.second-nav
			.frame
				.shadow-top
				.shadow-bottom
				a(href="#").active Новости
				a(href="#") История
				a(href="#") Отзывы
				a(href="#") Отчет о деятельности
				a(href="#") Стратегические партнеры
		.third-nav
			include ../../public_html/layout/images/svg/vensel-6.svg
			span.date
				| 29 сентября 2013
			include ../../public_html/layout/images/svg/vensel-7.svg
		.content.no-bottom-padding.small-top-padding.small-bottom-margin
			h1.center.small-bottom-margin.small-bottom-padding Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
			p 
				img(src="/layout/images/tmp/big.jpg").left
				| Кремлевская школа верховой езды 7 июня 2014г. приняла участие в открытии фестиваля античного искусства «Боспорские агоны» на главной площади Керчи в Республике Крым.
			p Перед тем как выступить в Крыму конный состав совместной команды всадников преодолел за 3 дня путь длинною в 1900 км. Последний участок в 4,5 километра до г.Керчь «кремлевские» лошади совершили на пароме "Николай Аксененко" через керченскую переправу.
			p Для жителей и гостей Керчи совместная команда всадников Кавалерийского почетного эскорта Президентского полка и Кремлевской школы верховой езды продемонстрировала свою показательную программу из цикла «Традиции России». Всадники выступали на лошадях исконно российских пород — донской и буденовской. В программе задействованы 12 всадников, в национальных казачьих костюмах,  стилизованных по форме Собственного Его Императорского Величества Конвоя с традиционным  вооружением. Спортсмены показали высокое мастерство управления лошадьми. Особый восторг зрителей вызвала вторая часть программы, в которой спортсмены показали искусное владение холодным боевым оружием в пешем строю.
			p Посмотреть на выступление совместной команды любой желающий сможет, посетив Международный Фестиваль «Великое русское слово» 12 июня – в столице Республики г.Симферополь на стадионе Локомотив.
			p Титульный спонсор команды всадников Кремлевской школы верховой езды ОАО «УРАЛСИБ».
			
			.divider
			.gallery
				.slider
					- for (var i = 1; i < 13; ++i) {
					- var x = 0;
					- if(i > 6) x = 13 - i;
					- else x = i;
					.item
						a(href="/layout/images/tmp/tmp-#{x}.jpg" rel="prettyPhoto[]").image(style="background-image: url(/layout/images/tmp/tmp-#{x}.jpg)")
					- }
			
			.vensel-final
				include ../../public_html/layout/images/svg/end-vensel-left.svg
				.center
				include ../../public_html/layout/images/svg/end-vensel-right.svg

			h1.center Предыдущие новости
		.news.one-row
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони.
			.item
				.frame
					a.image(style="background-image: url(/layout/images/tmp/news.jpg)")
					.date
						include ../../public_html/layout/images/svg/vensel-4.svg
						include ../../public_html/layout/images/svg/vensel-5.svg
						.line
						span.text 15 марта 2014
					a.title
						| Кремлевская школа верховой езды открыла фестиваль «Боспорские агоны»
					p В Кремлевской школе верховой езды состоялись Детские соревнования для всадников на пони. Или новость в пять строчек текста. Здесь выводится анонс при его наличии в системе.

include includes/footer