include includes/header
<body>
include includes/nav

#content
	#contacts
		span 
			| Тел./факс: <a href="tel:84956170444">+7 (495) 617-04-44</a>
			a.call(data-toggle="modal", data-target="#Call") перезвоните мне
			| E-mail: <a href="mailto:info@kremlin-ksk.ru">info@kremlin-ksk.ru</a>
		a.search(href="#")
			include ../../public_html/layout/images/svg/search.svg
		#search
			input(type="text")
	.text.vignettes.list
		.before
			include ../../public_html/layout/images/svg/vensel-1-tl.svg
			include ../../public_html/layout/images/svg/vensel-1-tr.svg
			include ../../public_html/layout/images/svg/vensel-1-bl.svg
			include ../../public_html/layout/images/svg/vensel-1-br.svg
		.after
		
		.content.no-bottom-padding.small-top-padding
			h1.center Отзывы

		.second-nav
			.frame
				.shadow-top
				.shadow-bottom
				a(href="#") Новости
				a(href="#") История
				a(href="#").active Отзывы
				a(href="#") Отчет о деятельности
				a(href="#") Стратегические партнеры
		.reviews
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны» Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»
			a.item(href="/layout/images/tmp/cert.jpg", rel="prettyPhoto[]")
				.image(style="background-image: url(/layout/images/tmp/cert.jpg)")
				span.text Отзыв от СМУ «Боспорские агоны»


		.pages
			a(href="#").active 1
			a(href="#") 2
			a(href="#") 3
			a(href="#") 4

include includes/footer